body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#2288ff;
}

.about-section{
    background: url(../Pics/logo.png) no-repeat;
    background-size: 40%;
    background-color: #fdfdfd;
    height: 100%;
    padding: 100px 190px;
    border-radius: 4rem 4rem 4rem 4rem;
}

.inner-container{
    width: 60%;
    float: right;
    background-color: #fdfdfd;
    padding: 170px 170px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 4rem 4rem 4rem 4rem;
}
.inner-container h1{
    
    margin-bottom: 30px;
    color:#2288ff ;
}

.text{
    
    color: var(--text-color);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.inner-container a{
    font-size: 3rem;
    color:var(--main-color);
    font-weight: 100;
    margin-bottom: 0.5rem;
    align-items: center;
  }
 
  .inner-container a:hover{
    color: var(--second-color);
  }
@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}
@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}



